<% @products.each do |product| %>
<div>
  <div>
    $<%= product.price %>
    <%= product.title %>
    <% if product.map_url %>
      <a href=<%= product.map_url %>>Google Map</a>
    <% else %>
      No Map
    <% end %>
    <div><%= link_to "Vote Yes", up_vote_path(product.id), :remote => true %></a></div>
    <div><%= link_to "Vote No", down_vote_path(product.id), :remote => true %></a></div>
  </div>
  <%= product.description %>
</div>
<% end %>